@media screen and (max-width: 768px) {

    header,
    main {
        width: 100%;
    }

    header h2 {
        font-size: 140%;
        padding-bottom: 2%;
    }

    h2 {
        font-size: 140%;
    }

    h3 {
        font-size: 130%;
    }

    h4 {
        font-size: 110%;
    }

    p {
        font-size: 100%;
    }

    #recherche,
    #activites,
    footer {
        padding: 4%;
        padding-top: 0;
    }

    /* ----- NAVIGATION ----- */
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .logoBooki {
        width: 35%;
        margin-top: 10%;
    }

    nav ul {
        display: flex;
        font-weight: bold;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
    }

    nav li {
        font-size: 90%;
        font-weight: 500;
        justify-content: center;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
        border-bottom: 4px solid #f2f2f2;
    }

    nav li:hover {
        border-top: none;
        border-bottom: 4px solid #0065FC;
        padding-left: 0;
        padding-right: 0;
    }

    /* ----- ZONE DE SAISIE DE RECHERCHE ----- */
    #search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        height: 100%;
    }

    .fa-location-dot {
        font-size: 140%;
        height: 100%;
        border-bottom: #f2f2f2 solid 3px;
        border-radius: 15px 0 0 15px;
        padding: 16px;
        margin-right: 0;
    }

    #search input {
        padding-left: 30px;
        font-size: 100%;
        width: 60%;
        padding: 0;
        padding-left: 4%;
    }

    button {
        height: 100%;
        border-radius: 15px;
        padding: 16px;
        margin-left: -12px;
    }

    #search button span {
        display: none;
    }

    #search button .fa-magnifying-glass {
        display: block;
        font-size: 100%;
        padding: 5px;
    }

    #inputSearch {
        flex-grow: 1;
        height: 60px;
        font-size: 180%;
        width: 64%;
    }

    #infos {
        align-items: flex-start;
        margin-bottom: 0;
    }

    .fa-info {
        margin-top: 8px;
        margin-right: 2%;
        padding: 5px 10px 5px 10px;
        font-size: 100%;
    }

    /* ----- FILTRES ----- */
    #filtres a {
        margin-bottom: 2%;
        font-size: 100%;
        padding: 0 20px 0 0;
        margin-right: 2%;
    }

    #fasEconomy,
    #fasLove,
    #fasPets {
        padding: 10px;
        margin-right: 10px;
    }

    #fasFamily {
        padding: 10px 13px 10px 13px;
        margin-right: 13px;
    }

    #filtres h3 {
        width: 100%;
        margin-bottom: 10px;
    }

    /* -- ASIDE POP -- */
    #pop {
        border-radius: 0;
        width: 100%;
        padding: 3%;
    }

    #pop h4 {
        padding-top: 0;
    }

    #pop .stars {
        padding-bottom: 4%;
    }

    #populaire {
        height: 100%;
    }

    .vignettePop {
        height: 180px;
        margin-bottom: 4%;
    }

    .fa-chart-line {
        font-size: 110%;
    }

    .photoPop {
        width: 40%;
    }

    /* ----- SECTION HÉBERGEMENTS ----- */
    #heb h4,
    #pop h4 {
        margin-bottom: 25px;
        margin-right: 0;
    }

    #heb h3 {
        margin-left: 0;
    }

    #heb p,
    #pop p {
        font-size: 100%;
    }

    #heb .stars,
    #pop .stars {
        font-size: 90%;
    }

    #heb {
        width: 100%;
        background-color: transparent;
        padding: 4%;
    }

    #heb a {
        width: 100%;
    }

    #heb img {
        height: 120px;
    }

    .vignette {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 4%;
    }

    /* ----- SECTION ACTIVITÉS ----- */
    #activitesMarseille {
        flex-direction: column;
    }

    #activitesMarseille h4 {
        margin: 20px 0 20px 20px;
    }

    .vieuxPort,
    .pomegues,
    .frioul,
    .calanques,
    .notreDame,
    .longchamp {
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 2px 20px #e4e4e4;
        height: 200px;
        margin-bottom: 7%;
        width: 100%;
    }

    #colonne1,
    #colonne2 {
        width: 100%;
    }

    #vieuxPort,
    #pomegues,
    #frioul,
    #calanques,
    #notreDame,
    #longchamp {
        height: 140px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    /* ----- FOOTER ----- */
    footer {
        display: flex;
        flex-direction: column;
    }

    footer h4 {
        font-size: 130%;
        margin-top: 10%;
        margin-bottom: 2%;
    }

    .foot {
        width: 100%;
        padding: 0;
    }

    footer ul {
        padding-right: 0;
    }

    footer li {
        font-size: 115%;
    }
}