@font-face {
    font-family: "Raleway", sans-serif;
    src: url('font/Raleway-VariableFont_wght.ttf');
}

* { /* box-sizing appliqué à tous les éléments */
    box-sizing: border-box;
    font-family: "Raleway";
}

#blocPage {
    width: 95%;
    margin: auto;
}

h1 {
    font-size: 28px;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}



/* ----- NAVIGATION ----- */
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.logoBooki {
    width: 50%;
    margin-left: 1%;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 9%;

    font-size: 18px;
}
nav li {
    display: flex;
    margin-right: 40%;
}

nav a:hover {
    color: #0065FC;
    text-decoration: underline 2px;
    text-underline-offset: -300%;
}

/* ----- TITRE + RECHERCHE ----- */
.complement { /* Sous-titre */
    margin-top: -13px;
}

#search {
    display: flex;
    align-items: center;
    margin-top: -20px;
}
#fasLocation { /* icône position */
    padding: 18px;
    margin-right: -5px;
    background-color: #f2f2f2;
    border: solid #f2f2f2 3px;
    border-radius: 18px 0 0 18px;
}
#ville { /* champ de recherche */
    padding: 18px;
    border: solid #f2f2f2 3px;
    border-right: none;
    border-left: none;

    font-weight: bold;
    font-size: 18px;
}
#submit { /* bouton "rechercher" */
    padding: 18px;
    margin-left: -5px;
    background-color: #0065FC;
    border: solid #0065FC 3px;
    border-radius: 0 18px 18px 0;

    font-weight: bold;
    color: white;
    font-size: 18px;
}

/* ----- FILTRES ----- */
#filtres { /* correspond à TOUTE la partie "filtres" */
    display: flex;
    align-items: center;
}

#filtreTitle {
    font-weight: bold;
}

.filtres {
    display: flex;
    align-items: center;

    border: solid #f2f2f2 3px;
    border-left: none;
    border-radius: 100px;

    margin-left: 20px;
    padding-right: 20px;

    font-weight: bold;
}

#fasEconomy, #fasFamily, #fasLove, #fasPets {
    border: solid #DEEBFF 5px;
    border-radius: 100px;
    background-color: #DEEBFF;

    color: #0065FC;

    padding: 13px;
    margin-right: 13px;
}

.filtres a:hover {
 color: red;
}

/* ----- INFOS SUPPLÉMENTAIRES ----- */
#infos {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
#fasInfo {
    border: solid #f2f2f2 3px;
    border-radius: 100px;
    margin-right: 15px;
    padding: 8px 13px 8px 13px;

    color: #0065FC;
}

/* ----- HÉBERGEMENTS À MARSEILLE ----- */
/* -- ÉTOILES -- */
.fa-solid {
    color: #0065FC;
}
.fa-regular {
    border: none;
    color: #0065FC;
}
/** -- BLOC SECTION -- */
#hebergement {
    background-color: #f2f2f2;
    border-radius: 30px;

    padding: 18px 45px 18px 45px;
}
/* -- CONTENU SECTION -- */
.cannebiere {
    border: 7px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 20px rgb(199, 199, 199);
    width: 300px;

    display: flex;
    flex-direction: column;
}
#cannebiere {
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.cannebiere h3 {
    margin-top: 10px;
    margin-left: 7px;
}

.cannebiere p {
    margin-top: -15px;
    margin-left: 7px;

    font-size: 16px;
}
.stars {
    margin-top: -10px;
    margin-left: 7px;
}