@font-face {
    font-family: "Raleway";
    src: url('font/Raleway-VariableFont_wght.ttf');
}

* { /* box-sizing appliqué à tous les éléments */
    box-sizing: border-box;
    font-family: "Raleway";
}

#bloc_page {
    width: 95%;
    margin: auto;
}

h1 {
    font-size: 28px;
}

p {
    font-size: 20px;
}


/* ----- NAVIGATION ----- */
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.logo {
    width: 50%;
    margin-left: 1%;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 9%;

    font-size: 18px;
}
nav li {
    display: flex;
    margin-right: 40%;
}
nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #0065FC;
    text-decoration: underline 2px;
    text-underline-offset: -300%;
}

/* ----- TITRE + RECHERCHE ----- */
.complement { /* Sous-titre */
    margin-top: -13px;
}

#search {
    display: flex;
    align-items: center;
    margin-top: -20px;
}
#fasLocation { /* icône position */
    padding: 18px;
    margin-right: -5px;
    background-color: #f2f2f2;
    border: solid #f2f2f2 3px;
    border-radius: 18px 0 0 18px;
}
#ville { /* champ de recherche */
    padding: 18px;
    border: solid #f2f2f2 3px;
    border-right: none;
    border-left: none;

    font-weight: bold;
    font-size: 18px;
}
#submit { /* bouton "rechercher" */
    padding: 18px;
    margin-left: -5px;
    background-color: #0065FC;
    border: solid #0065FC 3px;
    border-radius: 0 18px 18px 0;

    font-weight: bold;
    color: white;
    font-size: 18px;
}